appdirs==
APScheduler==
async-lru==
captcha==
certifi==
charset-normalizer==
dnspython==
dynaconf==
emojis==
filelock==
idna==
langdetect==
Pillow==
pyaes==
pykeyboard==
pymongo==
Pyrogram==
pyromod==
PySocks==
pytz==
requests==
six==
Sangteigban==
TgCrypto==
toml==
tzlocal==
uritools==
urlextract==
urllib3==
